#
#
URL_DEV: http://<dev url>
URL_TC1: https://<tc1 url>
  
LOGIN_DEV: http://user:password@<dev url>/ntlmLogin.html
LOGIN_TC1: https://<tc1 url>/login.html
  
USER_DEV: <user>
PASS_DEV: <password>
  
USER_TC1: <user>
PASS_TC1: <password>