module TeamcityPrisma

	URL_DEV = "http://server"
	URL_STAGE = "https://server"
	
	LOGIN_DEV = "http://user:password@server/ntlmLogin.html"
	LOGIN_STAGE = "https://server/login.html"
	
	USER_DEV = 'user'
	PASS_DEV = 'password'
	
	USER_STAGE = 'user'
	PASS_STAGE = 'password'

end  